.profile-pic {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 20px;
}
.profile-card {
  background-color: white;
  border-radius: 12px;
  border: 1px solid #eee;
}

.profile-heading {
  color: #8dc540;
  font-weight: 600;
}

.text-green {
  color: #8dc540;
}
